@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

#content{
	width:600px;
	height:60px;
}
#dos{
	display:none;
}
#cinc{
	visibility:hidden;
}
	
.clear{
	clear:left;
}
	
.left{
	float:left;
	width:10%;
	heigh:10%;
	background:blue;
	border:1px solid black;
}
.left:hover{
	background:brown
	color:white;
	border:2px white;
}
.menu{
	background:#2EDA0A;
	color:white;
	width:90px;
	float:left;
}

