@charset "UTF-8";

<style type="text/css">
  h1 { color: red;
    font-family: Arial; 
	  font-size: large; 
	   }
  p  { color: gray; 
  font-family: Verdana; 
  font-size: medium; }

</style>
/* CSS Document */

